* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 12px;
  background: #171c26;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 960px;
  margin: 0 auto;
}

header {
  display: flex;
  align-items: flex-end;
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 18px;
}

header img {
  margin-right: 8px;
}

header .menu {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 16px;
  cursor: pointer;
  user-select: none;
  z-index: 2;
}

header .menu svg {
  width: 26px;
  pointer-events: none;
}

section {
  margin: 12px 0;
}

h1, h2 {
  margin: 0;
  font-family: 'Playfair Display', sans-serif;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
}

h2 {
  font-size: 1.2rem;
  font-weight: 300;
}

p {
  margin: 0;
  margin-bottom: 8px;
}

a {
  display: inline-flex;
  align-items: center;
  color: white;
  text-decoration: none;
  transition: color 0.2s ease;
  border-bottom: 2px dotted;
}

a:hover {
  color: #8d8dd6;
}

.links {
  display: flex;
  margin-left: auto;
}

.links > * {
  margin-left: 20px;
  border-bottom: none;
}

.links svg {
  width: 22px;
  margin-right: 6px;
}

.nav-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 300px;
  height: 100vh;
  padding: 60px 18px;
  background: #111;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease-in-out;
  transform: translateX(-300px);
  z-index: 1;
}

.nav-container.open {
  transform: translateX(0);
}

nav {
  width: 100%;
}

.nav-item {
  display: flex;
  align-items: center;
  padding: 12px 8px;
  margin: 8px 0;
  cursor: pointer;
  transition: all 0.2s ease;
}

.nav-item:hover {
  background: #8d8dd6;
  color: #000;
  border-radius: 4px;
}

svg.menu {
  width: 26px;
  margin-right: 16px;
  cursor: pointer;
  z-index: 2;
}

.goal {
  margin-bottom: 14px;
  color: #8d8dd6;
}

.cheat-sheets {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  background: white;
  border-radius: 6px;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
}

.outline {
  display: flex;
  flex-direction: column;
  margin: 12px 0;
  padding: 12px;
  border: 1px dashed #ececec;
  border-radius: 6px;
}

@media screen and (max-width: 700px) {
  .links a span {
    display: none;
  }
}