.box-wrapper {
  display: flex;
  justify-content: space-between;
  width: 200px;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  width:  50px;
  height: 50px;
  padding: 8px;
  background: white;
  color: #333;
  border-radius: 2px;
  font-weight: 800;
  transition: all 0.2s ease-in-out;
}

.box:hover {
  background: #8dabde;
  cursor: pointer;
}

.box.grow {
  transform: scale(1.2);
}