
.input {
  display: flex;
}

input {
  width: 260px;
  padding-left: 8px;
  border: none;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  font-size: 16px;
}

input:focus {
  outline: none;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  padding: 4px 16px;
  font-weight: bold;
  background: #516a94;
  cursor: pointer;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  transition: all 0.25s ease-in-out;
}

.button:hover {
  background: #7d9cce;
}

.button:active {
  transform: translateY(2px);
}

.tasks {
  display: flex;
  flex-direction: column;
  width: 260px;
  margin-top: 8px;
  background: #616187;
  border-radius: 4px;
}

.task {
  display: flex;
  padding: 8px 4px;
}