.carousel-wrapper {
  position: relative;
  width: 450px;
  overflow: hidden;
}

.carousel-cards {
  display: flex;
  height: 300px;
  width: auto;
  transition: all 0.5s ease-in-out;
}

.arrow {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: calc(50% - 20px);
  width: 30px;
  height: 30px;
  background: #333;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
  z-index: 1;
}

.arrow:hover {
  background: #444;
}

.arrow.prev {
  left: 0;
}

.arrow.next {
  right: 0;
}

.arrow svg {
  width: 20px;
}

.card {
  height: 300px;
}

@media screen and (max-width: 645px) {
  .carousel-wrapper {
    width: 100%;
  }
}