form {
  display: flex;
  flex-direction: column;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

input {
  height: 40px;
  width: 300px;
  padding: 4px 12px;
  border: 1px solid rgb(0,0,0,0);
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.09);
  color: #fff;
  font-size: 16px;
  transition: all 0.3s;
}

input:focus,
textarea:focus {
  outline: none;
  border: 1px solid #00a8ff;
}

textarea {
  width: 300px;
  height: 100px;
  padding: 12px;
  border: none;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.09);
  color: #fff;
  font-size: 16px;
}

button {
  width: 300px;
  height: 40px;
  cursor: pointer;
  border: none;
  border-radius: 18px;
  background-color: #00a8ff;
  color: #064465;
  font-size: 16px;
  font-weight: bold;
  transition: all 0.3s;
}

button:hover {
  background-color: #0097e6;
}

.response {
  display: none;
  width: 300px;
  height: 30px;
  margin-top: 1rem;
  justify-content: center;
  align-items: center;
}