.outline {
  position: relative;
  min-height: 400px;
}

.items {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.item {
  width: 200px;
  padding: 4px;
  background-color: white;
  color: #333;
  border-radius: 6px;
  transition: all .25s;
  cursor: pointer;
}

.item:hover {
  transform: translateY(-6px);
}

.item > * {
  pointer-events: none;
}

.item > img {
  position: relative;
  left: -4px;
  top: -5px;
  height: 100px;
  width: 200px;
  border-radius: 6px;
}

.item-name {
  display: flex;
  flex-direction: column;
  padding: 4px 8px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.item-price {
  padding: 4px 8px;
}

.cart {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 240px;
  background-color: #333;
}

.cart-heading {
  padding: 16px;
}

.cart-items {
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

.cart-item {
  display: flex;
  padding: 8px;
  cursor: pointer;
}

.cart-item:hover {
  background-color: #d98686;
}

.cart-item > * {
  pointer-events: none;
}

.cart-item--price {
  margin-left: auto;
}

.cart-details {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  background-color: #FFF;
  color: #333;
  padding: 8px 16px;
}