* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 12px;
  background: #171c26;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
}

h1, h2 {
  margin: 0;
  font-family: 'Playfair Display', sans-serif;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
}

h2 {
  font-size: 1.2rem;
  font-weight: 300;
}

a {
  display: inline-flex;
  align-items: center;
  color: white;
  text-decoration: none;
  transition: color 0.2s ease;
}

a:hover {
  color: #8d8dd6;
}